<div class="card-body">
  <div class="row">
    <div class="col-md-12">
        <h1>Admin Dashboard</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <p>
            <i class="fa fa-info-circle" style="font-size:24px;color: dodgerblue;">&nbsp;</i>
        <b>Welcome to admin dashboard</b>
        <br />
        <i class="fa fa-info-circle" style="font-size:24px;color: dodgerblue;">&nbsp;</i>
        <b>here we will list all the neccessary information that need to take action by admin </b>
        </p>
      </div>
    </div>
  </div>
</div>