  <article class="card-body" id="orders">

      <div class="row">
          <div class="col-md-12">
            <h4>Your order list</h4>
            <hr>  
          </div>
        </div>
   

    <div id="accordion" role="tablist">



        <div class="card" *ngFor="let order of orders; let ndx = index">
          <div class="card-header" role="tab" id="heading-{{ndx}}">
            <h5 class="mb-0">
              <a aria-expanded="false" data-toggle="collapse" href="#collapse-{{ndx}}" attr.aria-controls="collapse-{{ndx}}"> 
               <!--   <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ndx}}" aria-expanded="false" aria-controls="collapse-{{ndx}}">-->
                  <label>{{ ndx + 1 }} &nbsp;Order Id:</label> {{order.orderId}}
                <!--  </button> -->
             </a>
              <span class="{{order.status | lowercase}}" >
                  <i class="fa fa-check-circle">&nbsp;</i>
                {{order.status}} </span>
            </h5>
          </div>
      
          <div id="collapse-{{ndx}}" class="collapse show" role="tabpanel" attr.aria-labelledby="heading-{{ndx}}" data-parent="#accordion">
            <div class="card-body">
             
                <div class="row">
                    <div class="col-md-12">
                <div class="jumbotron">

                    <p class="lead">
                        <i class="fa fa-calendar" style="font-size:24px">&nbsp;</i>
                      {{ order?.date}}</p>
                      <hr class="my-4">
                 
                    <p class="lead">
                        <i class="fa fa-user-circle" style="font-size:24px">&nbsp;</i>
                      {{ order?.customer.firstname}} {{ order?.customer.lastname}}</p>
                    <p class="lead">
                            <i class="fa fa-envelope icon">&nbsp;</i>
                        {{ order?.customer.email }}
                    </p>
                    <p class="lead">
                            <i class="fa fa-phone-square">&nbsp;</i>
                            {{ order?.customer.phone }}
                        </p>
                    <hr class="my-4">

                    <h3 class="display-9">Billing Address</h3>
                    <p>
                            <i class="material-icons">my_location</i>
                       {{order?.billingAddress?.street}}, {{order?.billingAddress?.city}},  {{order?.billingAddress?.zip}}, {{order?.billingAddress?.state}}, {{order?.billingAddress?.country}}
                        </p>
                    <hr class="my-4">
                    <h3 class="display-9">Shipping Address</h3>
                    <p *ngIf="order?.shippingAddress">
                            <i class="fa fa-truck"></i>
                            {{order?.shippingAddress?.street}}, {{order?.shippingAddress?.city}},  {{order?.shippingAddress?.zip}}, {{order?.shippingAddress?.state}}, {{order?.shippingAddress?.country}}
                        </p>
                  </div>
                </div>
              </div>

                <div class="row">                  
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of order.orderlineList">
                    <div class="card h-100" >
                      <a href="#"><img width="304" height="236" src="{{product.product.productImage}}" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">{{product.product.name}}</a>
                        </h4>
                        <h5>${{product.product.price}}</h5>
                        <p class="card-text">{{product.product.description}}</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"> Quantity: {{product.quantity}}</small>
                      </div>
                    </div>
                  </div>
                </div>



            </div>
          </div>
        </div>   
      </div>
  </article>