
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Your Profile</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 id="customer-name" class="display-4">{{ userProfile?.firstname}} {{ userProfile?.lastname}}</h1>
                        <p class="lead">
                                <i class="fa fa-envelope icon">&nbsp;</i>
                            {{ userProfile?.email }}
                        </p>
                        <p class="lead">
                                <i class="fa fa-phone-square">&nbsp;</i>
                                {{ userProfile?.phone }}
                            </p>
                        <hr class="my-4">
                        <h3 class="display-9">Billing Address</h3>
                        <p>
                                <i class="material-icons">my_location</i>
                           {{userProfile?.billingAddress?.street}}, {{userProfile?.billingAddress?.city}},  {{userProfile?.billingAddress?.zip}}, {{userProfile?.billingAddress?.state}}, {{userProfile?.billingAddress?.country}}
                            </p>
                        <hr class="my-4">
                        <h3 class="display-9">Shipping Address</h3>
                        <p *ngIf="userProfile?.shippingAddress">
                                <i class="fa fa-truck"></i>
                                {{userProfile?.shippingAddress?.street}}, {{userProfile?.shippingAddress?.city}},  {{userProfile?.shippingAddress?.zip}}, {{userProfile?.shippingAddress?.state}}, {{userProfile?.shippingAddress?.country}}
                            </p>
                        <p class="lead">
                          <a class="btn btn-primary btn-lg" href="/profile/edit" role="button">Edit</a>
                        </p>
                      </div>
                </div>
            </div>            
        </div>
