
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Your Profile</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 class="display-4">{{ userProfile?.firstname}} {{ userProfile?.lastname}}</h1>
                        <p class="lead">
                                <i class="fa fa-envelope icon">&nbsp;</i>
                            {{ userProfile?.email }}
                        </p>
                        <p class="lead">
                                <i class="fa fa-phone-square">&nbsp;</i>
                                {{ userProfile?.phone }}
                            </p>
                        <hr class="my-4">
                        <h3 class="display-9">Billing Address</h3>
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <hr class="my-4">
                        <h3 class="display-9">Shipping Address</h3>
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead">
                          <a class="btn btn-primary btn-lg" href="/profile/edit" role="button">Edit</a>
                        </p>
                      </div>
                </div>
            </div>            
        </div>
