<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">

                <a href="/profile" routerLink="/profile/overview" routerLinkActive="active" class="list-group-item list-group-item-action">
                    <i class="fa fa-user-circle-o">&nbsp;</i>
                    Profile
                   
                </a>
                <a href="/profile/edit" routerLink="/profile/edit" routerLinkActive="active" class="list-group-item list-group-item-action">
                    <i class="fa fa-edit">&nbsp;</i>
                    Edit</a>
                <a href="/profile/billing-address" routerLink="/profile/billing-address" routerLinkActive="active" class="list-group-item list-group-item-action">
                    <i class="fa fa-address-card-o">&nbsp;</i>
                    Edit Billing address</a>
                <a href="/profile/shipping-address" routerLink="/profile/shipping-address" routerLinkActive="active" class="list-group-item list-group-item-action">
                    <i class="fa fa-truck">&nbsp;</i>
                    Edit Shipping address</a>
                
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>